* {
  /* ко всем эл-там: */
}
body{
  /* размер шрифта */
  font-size: 32px ;
  margin: 0;
}
/* подключение цвета */
.light-pink-bacgroung {
  background-color:  #EEE2DC; /* rgb, rgba */
}

.light-pink-text {
  color:  #EEE2DC;
}

header {
  background-color:  #AC3B61;
}

footer {
  background-color:  #123C69;
}

footer a {
  color:  #BAB2B5;
}

a {
  text-decoration: none;
}

header ul {
  margin: 0;
  /* оформление маркеров списка */
  list-style-type: none;
}

.container {
  /* widht: ; */
  max-width: 1200px;
  /* 0 - сверху/снизу лево/право */
  margin: 0 auto;

}

img{
  width: 100%;
  height: auto; /* ширина по контейнеру,  */
}
